<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off">

  <variable name="logDirectory" value="${specialfolder:folder=LocalApplicationData}/${processname}" />


  <!-- Define targets -->
  <targets>
    <!-- Console Target -->
    <target xsi:type="Console" name="console"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}" />
    <!-- File Target -->
    <target xsi:type="File" name="file"
            fileName="${logDirectory}/${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}" />
  </targets>

  <!-- Define rules -->
  <rules>
    <!-- Log all levels to both console and file -->
    <logger name="*" minlevel="Trace" writeTo="console,file" />
  </rules>
</nlog>
